.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width:800px){
  .video-grid{
  grid-template-columns: 1fr 1fr;
  }
}
.thumbnils{
  width: 100%;
}

.video-title{
margin-top: 0;
font-size: 14px;
font-weight:500;
margin-right: 12px;
margin-bottom: 15px;
line-height: 20px;
}
.video-authar,.video-about{
  color: rgb(96, 96, 96);
  font-size: 12px;

}

.video-about{
  color: rgb(96, 96, 96);
  margin-top: 4px;

}

.search-bar{
display: block;

}

.video-preview{
width: 100%;
display: inline-block;
vertical-align: top;

}

.video-info-grid{
display: grid;
grid-template-columns: 50px 1fr;

}

.channel-picture{

}
.video-info{

}
.profile-picture{
width: 36px;
border-radius: 50px;
}
.thumbnil-row{
margin-bottom: 8px;
position: relative;
}
.video-time{
  background-color: black;
  color: white;
  font-family: Roboto,arial;
  position:absolute;
  bottom: 10px;
  right: 10px;
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 3px;
  font-size: 12px;
  border-radius: 4px;
}